/* screen - web-1920-1 */

.web-1920-1 {
  background-color: #000000;
  cursor: pointer;
  height: 2160px;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100vw;
}

.web-1920-1 .musebot-C61RwL {
  --z-index: 0;
  background-color: transparent;
  color: #fe00d7;
  cursor: pointer;
  font-family: 'Oswald', Helvetica;
  font-size: 200px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  /* left: 1015px; */
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 0.00px;
  line-height: 200px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 932px;
  width: 852px;
}

.web-1920-1 .component-1-3-C61RwL {
  --z-index: 1;
  background-color: transparent;
  height: 124px;
  left: 2348px;
  opacity: 1;
  position: absolute;
  top: 3212px;
  width: 130px;
}

.web-1920-1 .rectangle-1-zxTx7v {
  --z-index: 0;
  background-color: #ff00d8;
  border-radius: 68px;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 100%;
}

.web-1920-1 .originated-from-the-C61RwL {
  --z-index: 2;
  background-color: transparent;
  color: #fe00d7;
  font-family: 'Oswald', Helvetica;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  height: 1189px;
  left: 146px;
  letter-spacing: 0.00px;
  line-height: 35px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 2743px;
  width: 1455px;
}
/* screen - web-1920-2 */

.web-1920-2 {
  background-color: #000000;
  /* height: 2160px; */
  height: 1530px;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 2880px;
}

.web-1920-2 .musebot-C61RwL {
  --z-index: 0;
  background-color: transparent;
  color: #fe00d7;
  font-family: 'Oswald', Helvetica;
  font-size: 200px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: 200px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 34px;
  width: 852px;
}

.web-1920-2 .originated-from-the-C61RwL {
  --z-index: 1;
  background-color: transparent;
  color: #fe00d7;
  font-family: 'Oswald', Helvetica;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  height: 1189px;
  left: 98px;
  letter-spacing: 0.00px;
  line-height: 35px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 519px;
  width: 1455px;
}

.web-1920-2 .component-1-2-C61RwL {
  --z-index: 2;
  background-color: transparent;
  height: 1187px;
  left: 1674px;
  opacity: 1;
  position: absolute;
  top: 331px;
  width: 1054px;
}

.web-1920-2 .rectangle-1-PzYLCH {
  --z-index: 0;
  background-color: #ff00d8;
  border-radius: 68px;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 100%;
  overflow: hidden;
}
