@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

* {
  font-family: "Inter", Arial;
  font-size: 12pt;
  margin: 0;
  box-sizing: border-box;
  cursor:url("image/gloves.png"),default;
}

.leading {
  margin-top: 4rem;
}

body {
  background-image: url("image/background.jpg");
}

.circle{
  height: 3rem;
  width: 3rem;
  border-radius: 3rem!important;
}

button:nth-child(1) {
  cursor: url("image/gloves2.png"),auto;
}

button:nth-child(2) {
  cursor: url("image/gloves2.png"),auto;
}

button:nth-child(3) {
  cursor: url("image/gloves2.png"),auto;
}

button:nth-child(4) {
  cursor: url("image/gloves2.png"),auto;
}

button:nth-child(5) {
  cursor: url("image/gloves2.png"),auto;
}

button:nth-child(6) {
  cursor: url("image/gloves2.png"),auto;
}

.buttonimage{
  background-image: url("image/button_5.jpg");
  background-size: cover;
}

.circle-large{
  height: 4rem;
  width: 4rem;
  border-radius: 4rem!important;
}

.top{
  border-top: black 3rem solid;
}


.title {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1 {
  letter-spacing: 0.75px;
  color: rgb(33, 30, 68);
}

.wrapper {
  height: 95vh;
}

.chat {
  max-height: 550px;
  min-height: 550px;
  background-color: gray;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  border-radius: 10px;
}

.messages-image{
  width: 100%;
}

.messages {
  flex: 1 0 auto;
}

.messages div {
  max-width: 60%;
  width: fit-content;
  display: block;
  margin: 5px;
  padding: 10px;
  border-radius: 7px;
  white-space: pre-line;
}

.messages div a {
  color: white;
}

.messages div a:hover {
  color: #212529;
}

.messages .bot {
  text-align: left;
  margin-right: auto;
  background: black;
  color: white;
}

.messages .self {
  text-align: right;
  margin-right: 20px;
  margin-left: auto;
  background: white;
  border: 1px solid #212529;
  color: #212529;
}

.actions input {
  height: 30px;
  display: block;
  width: 100%;
  outline: 0;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid black;
  border-left: 0px;
}

input:focus {
  border-bottom: 2px solid #212529;
}

@media all and (min-width: 720px) {
  .wrapper {
    width: 40vw;
    height: 90vh;
    margin: 0 auto 2.5vh;
  }
}

@media all and (min-width: 1280px) {
  .wrapper {
    width: 27.5vw;
  }
  .title {
    height: 7.5vh;
  }
}

.temper {
  height: 100%;
  width: 100%;
  color: #17D4FE;
  font-size: 12px;
  font-family: Orbitron;
 }