@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

* {
  font-family: 'Times New Roman', serif;
  font-size: 14pt;
  margin: 0;
  box-sizing: border-box;

  font-family: lores-9-plus-narrow, sans-serif;
  font-weight: 400;
  font-style: normal;

  
}

body {
    background-image: url("./images/ChatBotReceiptEXP.png");
    background-size: cover;
    background-position: center;
    background-color: #fac03a;
}

.title {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding-top: 25px;
}

.title h1 {
  letter-spacing: 0.75px;
  color: black;
  font-size: 25pt;
  font-family: lores-9-wide, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.wrapper {
  height: 95vh;
}

.chat {
  background: rgba(255, 255, 255, 0); 
  height: 95%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0px 18px;
  border-radius: 10px;
}


.messages {
  flex: 1 0 auto;
}

.messages img {
  width: 100%;
}

.messages div {
  max-width: 60%;
  width: fit-content;
  display: block;
  margin: 5px;
  padding: 10px;
  border-radius: 7px;
  white-space: pre-line;
}

.messages div a {
  color: white;
}

.messages div a:hover {
  color: gold;
}

.messages .bot {
  text-align: left;
  margin-right: auto;
  background:#ffc641;
  color: black;
  border: 5px black;
  padding: 15px;
}

.messages .self {
  text-align: right;
  margin-right: 10px;
  margin-left: auto;
  background: black;
  border: 5px black;
  color: silver;
  padding: 15px;
}

.actions {
  flex-shrink: 0;
  width: 100%;
  position: sticky;
  bottom: 0px;
  padding: 0px 0px 0px;
  background: white;
}

.actions input {
  height: 30px;
  display: block;
  width: 100%;
  outline: 0;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid black;
  border-left: 0px;
}

input:focus {
  border-bottom: 2px solid gold;
}

@media all and (min-width: 720px) {
  .wrapper {
    width: 40vw;
    height: 90vh;
    margin: 0 auto 2.5vh;
  }
}

@media all and (min-width: 1280px) {
  .wrapper {
    width: 27.5vw;
  }
  .title {
    height: 7.5vh;
  }
}

