@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

* {
  font-family:'Rainyhearts';
  font-size: 12pt;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-image:url(https://c.tenor.com/Y1amstUjGyUAAAAd/tenor.gif); */
  background-image: url("Blue.mp4");
  background-repeat: no-repeat;
  background-position: center;
}

audio {
  display: none;
}


.title {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1 {
  font-family: 'Rainyhearts';
  font-size: 30px;
  letter-spacing: 1px;
  color: rgb(23, 26, 65);
}

.wrapper {
  height: 95vh;
}

.chat {
  background-color: white;
    opacity: 50%;
  background-size: 500px;
  margin-top: 30px;
  overflow: scroll; 
  height: 90%;
  width: 150%; 
  display: flex; 
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  border-radius: 20px;
}

.chat::-webkit-scrollbar {
  display: none;
}

.messages {
  flex: 1 0 auto;
}

.messages div {
  max-width: 80%;
  width: fit-content;
  display: block;
  margin: 5px;
  padding: 10px;
  border-radius: 7px;
  white-space: pre-line;
} 

.messages div a {
  color: white;
}

.messages div a:hover {
  color: rgb(39, 22, 42);
}

.messages .bot {
  text-align: left;
  margin-right: auto;
  color: rgb(0, 0, 0);
}

.messages .self {
  text-align: right;
  margin-right: 20px;
  margin-left: auto;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.actions {
  flex-shrink: 0;
  width: 100%;
  position: sticky;
  bottom: -1px;
  padding: 10px 0px 20px;
}

.actions input {
  height: 30px;
  font-family:'Rainyhearts';
  font-size: 120%;
  display:block; 
  width: 100%;
  outline: 0;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid black;
  border-left: 0px;
}

input:focus {
  border-bottom: 2px solid rgb(52, 36, 56);
}


/* Chatbot Spans */

.action {
  font-family: 'Courier New', Courier, monospace;
  font-size: 80%;
  margin-top: 5px;
  display: inline-block;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}


@media all and (min-width: 720px) {
  .wrapper {
    width: 40vw;
    height: 90vh;
    margin: 0 auto 2.5vh;
  }
}

@media all and (min-width: 1280px) {
  .wrapper {
    width: 27.5vw;
  }
  .title {
    height: 7.5vh;
  }
}
