@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400;800&display=swap");

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, #242423 60%, #cecdca 40%);
}

.title {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Bebas Neue";
  letter-spacing: 10px;
  color: #cecdca;
  text-transform: uppercase;
  font-size: 120pt;
  font-weight: 200;
}

.wrapper {
  height: 95vh;
  margin-top: 3vh;
}

.chat {
  background: #242423;
  box-shadow: 0px 0px 0px #242423;
  overflow: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  border-radius: 10px;
}

.sofa {
  margin: top 10vh;
}

.messages {
  flex: 1 0 auto;
}

.messages div {
  max-width: 60%;
  width: fit-content;
  display: block;
  margin: 5px;
  padding: 10px;
  border-radius: 7px;
  white-space: pre-line;
}

.messages div a {
  color: rgb(255, 255, 255);
}

.messages div a:hover {
  color: blueviolet;
}

.messages .bot {
  text-align: left;
  margin-right: auto;
  background: #555555;
  color: white;
}

.messages .self {
  text-align: right;
  margin-right: 20px;
  margin-left: auto;
  background: #cecdca;
  color: #000000;
}

.actions {
  flex-shrink: 0;
  width: 100%;
  position: sticky;
  bottom: -1px;
  padding: 10px 0px;
  background: rgb(70, 70, 70);
  margin-bottom: 20px;
  border-radius: 10px;
}

input {
  border: none;
  background: rgb(70, 70, 70);
  color:white;
}

.actions input {
  height: 30px;
  display: block;
  width: 100%;
  outline: 0;
}

.useraction {
  display: inline-block;
  font-size: 70%;
  margin-top: 20px;
  font-style: italic;
}

@media all and (min-width: 720px) {
  .wrapper {
    width: 40vw;
    height: 90vh;
    margin: 0 auto 2.5vh;
  }
}

@media (min-width: 1280px) {
  .title {
    height: 7.5vh;
    margin-left: 5vw;
    padding-bottom: 10vh;
  }

  .wrapper {
    margin-top: 5vh;
    width: 100%;
    margin-left: 5.5vw;
    /* margin-top: 0; */
    /* margin-bottom: 2.5vh; */
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
  }
  body#hom{
    background: #fff;
  }
  #hom.wrapper {
    margin: 5vh auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  #hom img {
    max-width: 500px;
  }
  #hom div.sofa{
    width:100%;
    margin:auto;
    display:contents;
  }
  .ntry{
    margin-top:5vh;
    padding: 5px;
    text-decoration: none;
    color: black;
  }
  .ntry a{
    color: black;
    text-decoration: none;
    font-family: "Bebas Neue";
    font-size: 20pt;
    letter-spacing: 5px;
  }

  .chat {
    width: 27.5vw;
  }

  .sofa {
    margin-top: 25vh;
    margin-left: 2.0vw;
    width: 75vw;
  }



}