@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

* {
  font-family:monospace;
  font-size: 24pt;
  margin: 0;
  box-sizing: content-box;
}

body {
  background-position: center;
  background-size: contain;
  background-image:url(pingpong.gif);
}

.wrapper {
  height: 80vh;
  width: 100vh;
}

.chat {
  overflow: hidden;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  border-radius: 70px;
}

.messages {
  flex: 2 0 auto;
}

.messages div {
  /* max-width: 70%; */
  /* width: fit-content; */
  display: block;
  margin: 5px;
  padding: 10px;
  border-radius: 7px;
  /* white-space: pre-line; */
}

.messages div a:hover {
  color: rgb(174, 239, 45);
}

.messages .bot {
  /* text-align: left; */
  margin-left: auto;
  margin-right: 20px;
  /* background: rgb(229, 241, 255); */
  color: rgb(0, 0, 0,);
  animation-duration: 300ms;
  animation-name: bounce;
  transition: 0ms;
}

.messages .self {
  /* text-align: right; */
  margin-right: 20px;
  margin-left: auto;
  /* background:rgb(229, 241, 255); */ 
  color: rgb(0, 0, 0,);
  animation-duration: 300ms;
  animation-name: bounce;
  transition: 0ms;
}

@keyframes bounce {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}


.actions {
  flex-shrink: 0;
  width: 100%;
  position: sticky;
  top: 20px;
  bottom: 10px;
  padding: 90px 260px 38px;
  color: rgb(0, 0, 0)
}

.actions input {
  height: 30px;
  display: inside;
  width: 100%;
  outline: 0;
  border-top: 20px;
  border-right: 0px;
  border-left: 90px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(0, 0, 0)
}

input:focus {
  display: inline;
  border-bottom: 0px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0)
}

@media all and (min-width: 800px) {
  .wrapper {
    width: 40vw;
    height: 90vh;
    margin: 0 auto 2.5vh;
  }
}

@media all and (min-width: 800px) {
  .wrapper {
    width: 80vw;
  }
  .title {
    height: 7.5vh;
  }
}

/*@media print {
  .title {
    display: none;
  }
  .actions {
    display: none;
  }
}*/

span.center {
  display: block;
  font-weight: bold;
  text-align: center;
}