@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

* {
  font-family:'Oooh Baby';
  font-size: 18pt;
  margin: 0;
  box-sizing: border-box;
}

body {
  background:#433122;
  background-image: url(book\ copy.png);
  background-size: cover;
  background-position: center;
  display: flex;
}

#left {
  width:50vw;
  height: 100vh;
}

#right {
  width:50vw;
  height: 100vh;
  
}

.title {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1 {
  letter-spacing: 0.75px;
}

.wrapper {
  height: 95vh;
  width: 35vw;
  margin: 0px 0px 80px 0px;
}

.chat {
  overflow: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}

.chat::-webkit-scrollbar {
  display: none;
}

.messages {
  flex: 1 0 auto;
}

.messages div {
  max-width: 75%;
  width: fit-content;
  display: block;
  margin: 5px;
  padding: 10px;
  border-radius: 7px;
  white-space: pre-line;
}

.messages .bot {
  text-align: left;
  margin-right: auto;
  color:#523c3c;
}

.messages .self {
  text-align: right;
  margin-right: 20px;
  margin-left: auto;
  color: #523c3c;
}

.actions {
  flex-shrink: 0;
  width: 100%;
  position: sticky;
  bottom: -1px;
  padding: 10px 20px 20px;
}

.actions input {
  height: 30px;
  display: block;
  width: 100%;
  outline: 0;
  border: 0px;
  background:transparent;
}

@media all and (min-width: 720px) {
  .wrapper {
    height: 80vh;
    margin: 2.5vw;
  }
}

@media all and (min-width: 1280px) {
  .wrapper {
    width: 27.5vw;
  }
  .title {
    height: 7.5vh;
  }
}

.action {
  font-family: monospace;
  font-size: 10.5pt;
  color:#523c3c6d;
}