@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500&family=Secular+One&display=swap');


* {
  /* font-family: 'Inter', Tahoma, Verdana, sans-serif; */
  font-family: 'Lexend Deca', sans-serif;
  font-size: 12pt;
  margin: 0;
  box-sizing: border-box;
  
}

body {
  background-image: url('background\ pattern\.png');
  background-position: 50%;
  /* background: rgba(105, 170, 106, 0.749); */
}

.title {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.title h1 {
  letter-spacing: 0.75px;
  color: rgb(255, 255, 255);
  font-size: 18pt;
}

.wrapper {
  height: 95vh;
  color: rgb(255, 255, 255);
}

.chat {
  background: white;
  
  overflow: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  border-radius: 20px;
}

.messages {
  flex: 1 0 auto;
}

.messages div {
  max-width: 60%;
  width: fit-content;
  display: block;
  margin: 5px;
  padding: 10px;
  border-radius: 7px;
  white-space: pre-line;
}

.messages div a {
  color: white;
}

.messages div a:hover {
  color: rgb(151, 210, 154);
}

.messages .bot {
  text-align: left;
  margin-right: auto;
  background: rgb(103, 170, 106);
  color: white;
}

.messages .self {
  text-align: right;
  margin-right: 20px;
  margin-left: auto;
  background: white;
  border: 3px solid rgb(103, 170, 106);
  color: rgb(103, 170, 106);
}

.actions {
  flex-shrink: 0;
  width: 100%;
  position: sticky;
  bottom: -1px;
  padding: 10px 0px 20px;
  background: white;
}

.actions input {
  height: 30px;
  display: block;
  width: 100%;
  outline: 0;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid black;
  border-left: 0px;
}

input:focus {
  border-bottom: 2px solid rgb(0, 0, 0);
}

@media all and (min-width: 720px) {
  .wrapper {
    width: 40vw;
    height: 90vh;
    margin: 0 auto 2.5vh;
  }
}

@media all and (min-width: 1280px) {
  .wrapper {
    width: 27.5vw;
  }
  .title {
    height: 7.5vh;
  }
}
